/*ヘッダーを上に固定しスクロールしても動かないようにする*/
div#headerH1{
  background-color: #ADADFF;
  top: 0;
  width: 100%;
  border: 1px solid #FFDDBC;
  border-radius: 5%;
  position: fixed;
}
/*ヘッダー内部のレイアウトを定める*/
div#headerH2{
 width: 20%;
 height: auto;
 color: #FFF;
 margin-top: 10px;
 margin-left:10%;
 margin-bottom: 10px;
 line-height: 2.0;/*文字の上下の行間を定義する*/
}
/*ヘッダー下部のレイアウト編集*/
div#headerH3{
  border-radius: 5%;
  background: #191970;
}
/*ヘッダーのリンクの文字サイズ変更*/
div.menueBottonH{
  font-size: 130%;
}
div.menueBottonH:hover{
  background: #87ceeb;
}
img.kyudo{
   width: 250px;
   height: auto;
}
p.hederText2{
  align:right;
}
div.image{
  position: absolute;
  left: 70%;
  top:40%;
  width: 50%;
}
/*左にコンテンツまとめるdivクラス*/
div.leftsentence{
    margin-top: 3%;
    margin-left: 10%;
}
/*左のコンテンツの枠組みを定義する*/
div.leftPaper2{
    background-image: url("");
    border: 5px double #333333;
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}
/*見出しを定義するcss*/
p.lookH{
  width: 30%;
  height: 7%;
  background-color: #b0c4de;
  border-left: 6px solid #000000;
  color: #000000;
  font-weight: bold;
  padding-top: 1%;
  border-radius: 10%;
}
/*見出しの後の本文を定義するcss*/
p.mozi{
   font-size: 100%;
   line-height: 2.0;/*文字の上下の行間を定義する*/
   margin:5% 10%;
}
