body {
  margin: 0;
}

div.header_top_back {
  background-color: #87B8EC;
  width: 1150px;
  margin: 0 auto;
}

div.header_top_front {
  background-color: #FFF;
  margin-left: 85px;
  margin-right: 85px;
}

div.header_top_all {
  width: 100%;
  background-color: #87B8EC;
}

img.title_image {
  padding: 7px;
}

div.header_bottom_all {
  width: 100%;
  background-color: #C1DCF8;
}

div.header_bottom_back {
  background-color: #C1DCF8;
  width: 1150px;
  margin: 0 auto;
}

div.header_bottom_front {
  background-color: #EAEFF4;
  margin-left: 85px;
  margin-right: 85px;
}

div.header_bottom_tablist {
  width: 975px;
  display: table;
  table-layout: fixed;
  text-align: center;
}

div.header_bottom_tab {
  display: table-cell;
}

span.button_text {
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
}

div.box_line {
  border: 0.7px solid #c0c0c0;
}

button.heder_button {
  padding-top: 7px;
  border:0.7px solid #BEBFC0;
  border-bottom:0.4px solid #EAEFF4;
  width: 145px;
  background-color: #EAEFF4;
  text-align: center;
  background: linear-gradient(to bottom, #F9FFFF, #EAEFF4);
}
div.header_button_buttom{
  border-top:0.7px solid #EAEFF4;
  border-right:0.7px solid #BEBFC0;
  border-left:0.7px solid #BEBFC0;
  border-bottom:0.7px solid #BEBFC0;
  margin-top: -18px;

}
/*safari*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  _::-webkit-full-page-media, _:future, :root
  button.heder_button {
    margin: 0;
  }
  div.header_button_buttom{
    margin-right: -0.5px;
  }
}
/*IE10*/
@media all and (-ms-high-contrast:none) {

  div.header_button_buttom{
    margin-right: -0.5px;
  }
}
/*firefox*/
@-moz-document url-prefix() {
  div.header_button_buttom{
    margin-right: -0.5px;
  }
}
/*IE11だけに適用されるCSSハック*/
@media all and (-ms-high-contrast:none) {
  div.header_bottom_tablist {
    position: relative;
    bottom: 3px;
  }
  div.header_button_buttom{
    margin-right: -1px;
    margin-top: -12px;
  }
}
/*msedge*/
@supports (-ms-ime-align:auto) {
  div.header_button_buttom{
    margin-right: -0.5px;
    margin-top: -12px;
  }
}
button.heder_button:hover {
  cursor: pointer;
}
/*floatを使用すると要素の高さが無くなってしまうらしい
  そのため要素の最後にfloatの解除を行うことで要素の高さを取り戻す*/

.clear {
  clear: both;
}

img#top_image {
  margin-top: 20px;
}

main.back_color {
  background-color: #E5EDF6;
  margin: 0;
  width: 1150px;
  display: block;
  margin: 0 auto;
}

div.main_all {
  width: 100%;
  background-color: #E5EDF6;
}

div.main_center {
  background-color: #FFF;
  margin-left: 85px;
  margin-right: 85px;
  padding-left: 20px;
  padding-right: 20px;
}

div#left_content {
  width: 613px;
  padding-bottom: 30px;
  display: table-cell;
}

div.content_title {
  background-image: url("../image/title_back.png");
}

p.title_sentence_top {
  color: #FFF;
  font-size: 15px;
  padding: 5px;
  padding-left: 17px;
  font-weight: bold;
  line-height: 1.1em;
  padding-top: 10px;
}

p.right_title_sentence_top {
  color: #FFF;
  font-size: 14px;
  padding: 5px;
  padding-left: 17px;
  font-weight: bold;
  line-height: 1.1em;
  padding-top: 10px;
}

span.title_sentence_bottom {
  color: #66A7D0;
  font-size: 9px;
  font-weight: bold;
}

p.title_sentence_bottom {
  color: #FFF;
  opacity: 0.5;
  font-size: 11px;
}

p.look {
  border-left: 15px solid #5E9CCF;
  padding-left: 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.2em;
}

p.sentence {
  font-size: 15px;
}

div.contents_box {
  padding-left: 17px;
}

a.link:visited {
  color: #2093D4;
}

a.link:link {
  color: #2093D4;
}

div.link {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
}

div.main_bottom_content {
  display: table;
}

a.link {
  text-decoration: none;
  position: relative;
  bottom: 2px;
}

span.link_sentence {
  font-size: 15px;
}

@media all and (-ms-high-contrast:none) {
  span.link_sentence {}
}

/*IE11だけに適用されるCSSハック*/

@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, span.link_sentence {}
}

@supports (-ms-ime-align:auto) {
  span.link_sentence {}
}

div#right_content {
  width: 330px;
  display: table-cell;
}

div.right_border {
  border-left: 1px solid #CFCFCF;
  margin-left: 18px;
  padding-left: 18px;
}

div.marg {
  margin-left: 18px;
}

ul.right_list {
  list-style: none;
  padding-left: 18px;
}

p.right_look {
  color: #9C3600;
  margin-top: 4px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
}

@media all and (-ms-high-contrast:none) {
  p.right_look {
    margin-top: 9px;
  }
}

/*IE11だけに適用されるCSSハック*/

@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, p.right_look {
    margin-top: 10px;
  }
  *::-ms-backdrop,span.right_text{
    border-bottom: 1px solid #B7B7B7;
  }
  *::-ms-backdrop,a.right_link_block{
    text-decoration: none;
  }
}

@supports (-ms-ime-align:auto) {
  p.right_look {
    margin-top: 10px;
  }
  span.right_text{
    border-bottom: 1px solid #B7B7B7;
  }
  a.right_link_block{
    text-decoration: none;
  }
}

span.right_text {
  line-height: 1.35em;
  font-size: 14px;
  color: #000;
}

a.right_link_block {
  display: block;
  -ms-text-decoration-color: #B7B7B7;
  text-decoration-color: #B7B7B7;
  padding-left: 20px;
  margin-top: -17px;
}

footer#back_color {
  width: 1150px;
  background-color: #333333;
  text-align: center;
  margin: 0 auto;
}

div.footer_all {
  width: 100%;
  background-color: #333333;
  height:200px;
}

p.footer_text_top {
  padding-top: 15px;
  color: #888D91;
  font-size: 14px;
  margin: 0px;
}

p.footer_text_bottom {
  color: #FFF;
  font-size: 14px;
}

a.footer_link {
  text-decoration: none;
}

a.footer_link:link {
  color: #FFFFFF;
}

a.footer_link:visited {
  color: #FFF;
}

span.footer_link_text {
  display: block;
  font-size: 16px;
  padding-right: 9px;
}

ul.footer_link_list {
  list-style: none;
  padding-bottom: 5em;
}

li.footer_link_tab {
  display: inline-block;
}

span.footer_tex {
  border-right: 0.5px solid #FFF;
  padding-left: 10px;
  font-size: 10px;
  cursor: default;
}
