@CHARSET "UTF-8";

table.table1 {
	align:center;
	border-collapse: collapse;
	background-color: #999999;
	border: 1px #999999 solid;

}

td.td1 {
	width: 200px;
	height:30px;
	border: 1px #999999 solid;
	padding: 8px;
	background-color: #EBEBEB;
}

td.td2 {
	width: 250px;
	border: 1px #999999 solid;
	padding: 8px;
	background-color: #FFFFFF;
}

td.td3 {
	text-align: center;
}

td.td5 {
	border: 1px #999999 solid;
	padding: 8px;
	background-color: #EBEBEB;
	text-align: center;
}

td.td6 {
	border: 1px #999999 solid;
	padding: 8px;
	background-color: #FFFFFF;
	text-align: center;
}

td.td7 {
	text-align: center;
	border: 1px #999999 solid;
	padding: 8px;
}

tr.tr1 {
	width: 200px;
	height:30px;
	background-color: #FFFFFF;
}

tr.tr2 {
	background-color: #EBEBEB;
}

tr.tr3 {
	background-color: #F0AA68;
}

tr.tr4 {
	height: 35px;
}

font.font1 {
	color: #FF0000
}
p.soldout_style:before{
	content: "SOLD OUT" ;
	color  :  #ff0000;
	font-weight:bold;
	font-size:50px;
	position: relative;
bottom: 10px;
 transform: rotate(10deg);
 padding-bottom:100px;
}
input.botton{
	style:color:#fff;
	background-color:#49a9d4;
	font-size:15;
	width:150px;
	height:30px;
	border-radius:25px;
	box-shadow:2px 2px #555;

}

h1.a {
font-size:0.9em;
margin:0px;
color  :  #ff0000;
}

div.a{
 background-color:#49a9d4;
position: absolute;
top: px;
left: 600px;

}

#site_title {
width: 898px;
margin: 0 auto 10px auto;
}

#page {
width: 918px;
margin: 0 auto 0 auto;
background-color: rgb(255,255,255);
}
.example1{
	margin-bottom:-147px;
}

#aaa{
    width:100%;
	padding:20px;
	background-color:#49a9d4;
	border-bottom:1px solid #CCC;
	color: #FFF;
	position:fixed;
	top:0;
	left:0;
    
}  
div.aaa {
   position: absolute;
   top: 10px;
   right: 30000px;
}

#a-box {
	height:150px;
	border-bottom: 1px solid #FF9900;
 	position: relative;
	bottom: 45px;
	background-image: url("../image/autumnheader1.jpg");  

}
h1.h1{
	position: absolute;
	top:60;
	left:150;
}
img#right{
	align:right;
}
div.acount{
	 position: absolute;
   top: 10px;
   right: 300px;
}

@text: #111;
@base: #f4f4f4;
@link: #f0aa68;
@button: #f26964;
@bottom: #ab4b47;

.rounded (@radius: 6px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
       -o-border-radius: @radius;
          border-radius: @radius;
}

.trans (@transition: .1s) {
  -webkit-transition: all @transition ease-in-out;
     -moz-transition: all @transition ease-in-out;
          transition: all @transition ease-in-out;

}

* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body.a {
  font:15px/1.25 'Alef';
  color:@text;

   margin:0;
  padding:0;
  border:none;
  list-style:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form.a {
  margin:70px auto;
  background:#336666;
  width:367px;
  text-align:center;
  padding:40px;
  .rounded;
  border-radius:25px;
  opacity: 0.9;


}



input.a {
  background:rgba(0, 0, 0, 0.2);
  color:#fff;
  text-shadow:1px 1px 0px rgba(0, 0, 0,0.3);
  display:block;
  width:269px;
  padding:15px;
  margin-bottom:10px;
  .rounded;
  .trans;
  outline:none;

 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  background:rgba(0, 0, 0, 0.1);
  .trans;
}

::-webkit-input-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-moz-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

::-moz-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-ms-input-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

.aaa{

}

