div.center {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

input.reset {
    background-color: #ff9999;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

input.reset:hover {
    background-color: #ffb2b2;
    cursor: grab;
}

input.reset:active {
    background-color: #ffd6d6;
}

.bea {
    width:43px;
}

.number {
    width:18.7px;
}

h6.title {
    margin-top: 20px;
    font-size: 20px;
}
