<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>jspServlet</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AddController</display-name>
		<servlet-name>AddController</servlet-name>
		<servlet-class>drinkMachine.AddController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListController</display-name>
		<servlet-name>ListController</servlet-name>
		<servlet-class>drinkMachine.ListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditController</display-name>
		<servlet-name>EditController</servlet-name>
		<servlet-class>drinkMachine.EditController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateController</display-name>
		<servlet-name>UpdateController</servlet-name>
		<servlet-class>drinkMachine.UpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewController</display-name>
		<servlet-name>ViewController</servlet-name>
		<servlet-class>drinkMachine.ViewController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DelController</display-name>
		<servlet-name>DelController</servlet-name>
		<servlet-class>drinkMachine.DelController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CartController</display-name>
		<servlet-name>CartController</servlet-name>
		<servlet-class>drinkMachine.CartController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuyController</display-name>
		<servlet-name>BuyController</servlet-name>
		<servlet-class>drinkMachine.BuyController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CSVController</display-name>
		<servlet-name>CSVController</servlet-name>
		<servlet-class>drinkMachine.CSVController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CSVGetController</display-name>
		<servlet-name>CSVGetController</servlet-name>
		<servlet-class>drinkMachine.CSVGetController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AllController</display-name>
		<servlet-name>AllController</servlet-name>
		<servlet-class>drinkMachine.AllController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewAcountController</display-name>
		<servlet-name>NewAcountController</servlet-name>
		<servlet-class>drinkMachine.NewAcountController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogInController</display-name>
		<servlet-name>LogInController</servlet-name>
		<servlet-class>drinkMachine.LogInController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AcountDelContoroller</display-name>
		<servlet-name>AcountDelContoroller</servlet-name>
		<servlet-class>drinkMachine.AcountDelContoroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogOutController</display-name>
		<servlet-name>LogOutController</servlet-name>
		<servlet-class>drinkMachine.LogOutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MoneyController</display-name>
		<servlet-name>MoneyController</servlet-name>
		<servlet-class>drinkMachine.MoneyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddController</servlet-name>
		<url-pattern>/AddController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListController</servlet-name>
		<url-pattern>/ListController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditController</servlet-name>
		<url-pattern>/EditController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateController</servlet-name>
		<url-pattern>/UpdateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewController</servlet-name>
		<url-pattern>/ViewController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelController</servlet-name>
		<url-pattern>/DelController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/CartController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyController</servlet-name>
		<url-pattern>/BuyController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSVController</servlet-name>
		<url-pattern>/CSVController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSVGetController</servlet-name>
		<url-pattern>/CSVGetController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllController</servlet-name>
		<url-pattern>/AllController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewAcountController</servlet-name>
		<url-pattern>/NewAcountController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInController</servlet-name>
		<url-pattern>/LogInController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcountDelContoroller</servlet-name>
		<url-pattern>/AcountDelContoroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutController</servlet-name>
		<url-pattern>/LogOutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoneyController</servlet-name>
		<url-pattern>/MoneyController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
